.profile {
    @include l1-page;

    font-size: 1.25rem;

    .field {
        display: flex;

        span:first-child {
            width: 6.5em;
        }

        span:last-child {
            max-width: calc(100% - 6.5em);
            text-wrap: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}