.profile {
    box-sizing: border-box;
    width: min(100%, 64rem);
    margin: auto;

    .profileHeader {
        padding: 1rem;
        margin-top: 2rem;

        .avatarBox {
            width: min(15rem, 32vw);
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            border: 0.5rem solid $primary;

            img {
                box-sizing: border-box;
                border: 0.3rem solid transparent;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .avatarBox {
        position: relative;
        width: min(16rem, 32vw);
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    .displayName {
        font-size: 2rem;
        text-align: center;
        text-wrap: wrap;
        margin-bottom: 0;
    }

    .username {
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        color: $disabled;
    }
}