.container {
    // padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 800px;
    // width: 100%;
    // box-sizing: border-box;
    margin: 0 auto;
}

.user {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;
}

.hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin: 20px 0;
    background-color: #B0B0B0;
}

.authorInfo {
    display: flex;
    align-items: center;
    gap: 6px;

    .avatar {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid #b0b0b0;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}

.articleCard {
    position: relative;
    // background-color: #ffffff;
    padding: 24px;
    padding-left: 32px;

    border-radius: 12px;
    white-space: pre-wrap; // 保持換行

    // border: 1px solid #ccc;
    //  box-shadow: 0 1px 8px -3px $context;
}



.titleBox {
    display: flex;
    gap: 10px;

    // justify-content: center;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 0;
        color: $primary;
    }

    .googleMapUrl {
        display: inline-block;
        margin-top: 7.5px;
        font-size: 1.3rem;
        color: #80aefd;
        // text-decoration: bold;
        font-variation-settings: "wght" 500; // 使 Material Symbol 變粗
        cursor: pointer;
        transition: filter 0.2s;

        &:hover {
            // color: #528df1;
            filter: brightness(0.75);
            text-decoration: none;
        }
    }

    .createTime {
        font-size: 14px;
        color: #888;
        font-style: italic;
        margin-top: 5px;
        margin-left: auto; // 使日期靠右對齊
    }
}

.content {
    font-size: 18px;
    color: $context;
    margin-bottom: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center; // 確保垂直對齊
    font-size: 18px;
    margin-top: 8px;

    .tags {
        font-style: italic;
        color: $secondary;
        white-space: nowrap;
    }

    .likes {
        display: flex;
        align-items: center;
        gap: 6px; // Icon 和數字的間距
        color: $context;

        span:first-child {
            margin-top: 0.15rem;
        }
    }
}

.imageList {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    margin-top: 16px;
    padding: 6px 0;
    scrollbar-width: none; // Firefox
    transition:
        transform 0.2s ease,
        padding-left 0.2s ease;

    &::-webkit-scrollbar {
        display: none; // Chrome
    }

    .image {
        width: 160px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        flex-shrink: 0;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.05);
        }
    }

    &:has(.image:first-child:hover) {
        padding-left: 6px;
        transform: translateX(-6px);
    }
}

.more {
    position: absolute;
    top: 0px;
    right: 16px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: $context;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}

.menu {
    position: absolute;
    top: 40px; // 根據 more 的位置下移
    right: 16px;
    background-color: $background;
    box-shadow: 0 2px 8px $hover-background;
    border-radius: 8px;
    padding: 8px 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    min-width: 100px;

    a,
    button {
        padding: 8px 16px;
        background: none;
        border: none;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: $context;

        &:hover {
            background-color: $hover-background;
        }
    }

    button {
        width: 100%;
    }
}

.header {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
        height: 80%;
        object-fit: contain;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
        cursor: pointer; // 加上手形提示可以點擊
    }
}