.header {
    text-align: center;
}

.container {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    background-color: $background;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titleInputBox {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.mapInputBox {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.textarea {
    width: 100%;
    height: 150px;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;

    .pictureBox {
        position: relative;
        display: block;
        // width: 6rem;
        // height: 6rem;
        width: calc((100% - 2.5rem) / 6);
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        border-radius: 0.5rem;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .photo_library {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.3rem;
            color: #18100b; // 圖示顏色

        }

        button {
            position: absolute;
            top: 4px;
            right: 4px; // 改成右上角
            background: rgba(255, 255, 255, 0.9); // 白底稍微透明
            color: #ff0000; // 紅色 X
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-weight: bold;
            cursor: pointer;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            padding: 0;

            &:hover {
                background: #fff;
                color: #c00;
            }
        }
    }

    label {
        border: 1px solid #ccc;

        span {
            display: block;
            width: 6rem;
            height: 6rem;
            line-height: 6rem;
            text-align: center;
        }

        input {
            display: none;
        }
    }
}

.buttonBox {
    display: flex;
    justify-content: right;

    .button {
        color: $primary;
        border: 0.1rem solid $primary;
        height: 3em;
        width: 6em;
        text-align: center;
        font-size: 0.9em;
        border-radius: 0.5rem;
        transition: color 0.3s, background-color 0.3s;
    }

    .button:hover {
        // background-color: #005dc1;
        color: $background;
        background-color: $primary;
    }
}


.message {
    margin-top: 1rem;
    color: green;
}