.progress {
    position: relative;
    width: 80%;
    margin: 0 auto;
    background-color: $progress-background;
    height: 0.3rem;
    border-radius: 0.15rem;
    overflow: hidden;

    @include after {
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: $progress-bar;
    }

    &[data-show=true]::after {
        animation: width-linear 2.5s linear 1 forwards;

        @keyframes width-linear {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
    }
}