@mixin color-map {
    @media (prefers-color-scheme: dark) {
        // --color-primary: #d66829; //可以調整 暗色主題的主色調
        // --color-secondary: #b9490c; //可以%調整 暗色主題的主色調
        // --color-accent: #c64601;
        --color-primary: #d1e3ff; //可以調整 暗色主題的主色調
        --color-secondary: #4e86e8; //可以調整 暗色主題的主色調
        --color-accent: #1d63dc;

        --color-context: #f4ece7;
        --color-background: #070403;

        --color-hover-background: #333333AA;

        --scrollbar-background: #333333;
        --scrollbar-background-hover: #555555;
    }
}

$context: var(--color-context, #18100b);
$background: var(--color-background, #fcf9f8);
// $primary: var(--color-primary, #d66829); //可以調整 亮色主題的主色調
// $secondary: var(--color-secondary, #f5af8a);//可以調整 亮色主題的主色調
// $accent: var(--color-accent, #fe7e39);
$primary: var(--color-primary, #8397b3); //可以調整 亮色主題的主色調
$secondary: var(--color-secondary, #4e86e8); //可以調整 亮色主題的主色調
$accent: var(--color-accent, #1d63dc);
$hover-background: var(--color-hover-background, #88888866);

$scrollbar-background: var(--scrollbar-background, #CCCCCC);
$scrollbar-background-hover: var(--scrollbar-background-hover, #AAAAAA);
// $box-context: #000000;
// $box-background: #FFFFFF;

// $disabled: var(--color-disabled, #B0B0B0);
// $accept: var(--color-accept, #4CAF50);
// $input-error: var(--color-input-error, #E24343);
// $progress-background: #DDD;
// $progress-bar: #999;
// $context: #000000;
// $background: #DFDFDF;
$box-context: #000000;
$box-background: #FFFFFF;

$disabled: #B0B0B0;
$disabled-darker: #808080;
$accept: #4CAF50;
$input-error: #E24343;
$progress-background: #DDD;
$progress-bar: #999;

// --text: #18100b;
// --background: #fcf9f8;
// --primary: #d66829;
// --secondary: #f5af8a;
// --accent: #fe7e39;