/* A copy from https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0,-50..200 */
/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDCvHeej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHeej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDCvHeej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDCvHeej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHeej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDAvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDAvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDAvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDAvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDAvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDDxHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDDxHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDDxHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDDxHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDDxHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDCdHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCdHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDCdHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDCdHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCdHOej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDBxG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDBxG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDBxG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDBxG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDBxG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDBIG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDBIG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1t-p_4MrImHCIJIZrDBIG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1i-q_4MrImHCIJIZrDBIG-ej.woff2) format('woff2');
}

/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined Not Fill';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v252/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDBIG-ej.woff2) format('woff2');
}