.button {
    color: $accent;
    margin: 2rem 0;
    border: 1px solid $accent;
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: $background;
        background-color: $accent;
    }
}