.loading {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.5em;
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;

    &[data-show="false"] {
        transform: translateY(-5rem);
        opacity: 0;
    }

    >div {
        height: 1em;
        width: 1em;
        border-radius: 0.5em;
        background-color: $disabled;
        animation: loading 1s infinite;

        &:nth-child(1) {
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation-delay: 0.1s;
        }

        &:nth-child(3) {
            animation-delay: 0.2s;
        }

        @keyframes loading {
            0% {
                transform: translateY(0)
            }

            20% {
                transform: translateY(-1em)
            }

            50% {
                transform: translateY(0)
            }

            100% {
                transform: translateY(0)
            }
        }
    }
}