// @import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "@/fonts/MaterialSymbolsOutlined.css";
@import "@/fonts/MaterialSymbolsOutlined_FILL.css";
@import "@/fonts/MaterialSymbolsRounded.css";

:root {
  // font-size: min(1rem, 3vw);
  color-scheme: light dark;
  scrollbar-gutter: stable;

  @include color-map;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  color: $context;
  background-color: $background;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-noto-sans-tc);
  padding: 0 calc(max(2.5vw, 50vw - $max-contexnt-width / 2));

  &:has(*[data-mobile=false]) {
    padding-left: calc(max(2.5vw, 50vw - $max-contexnt-width / 2) + 4.75rem);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

label>input[type="checkbox"] {
  display: none;
}

input,
button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  border: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}


button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0.8rem 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ms,
.ms-p::before,
.ms-p::after,
.ms-bp::before,
.ms-ap::after {
  font-family: "Material Symbols Outlined Fill";
  user-select: none;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.ms-nf,
.ms-nf-p::before,
.ms-nf-p::after,
.ms-nf-bp::before,
.ms-nf-ap::after {
  font-family: "Material Symbols Outlined Not Fill";
  user-select: none;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

.msr,
.msr-p::before,
.msr-p::after,
.msr-bp::before,
.msr-ap::after {
  font-family: "Material Symbols Rounded";
  user-select: none;
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
}

*::-webkit-scrollbar {
  background-color: transparent;
  height: 0.4rem;
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-background;
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: $scrollbar-background-hover;
  }
}