.suggestionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 0 40px;
  margin-top: -30px;
}

.suggestionButton {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid #aaa;
  background: #e0f2ff;
  color: #004a75;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: #c7e5ff;
  }
}
