.container {
  padding: 2rem 1.0rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}


.searchBar {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;

    .icon {
        color: $disabled;
        transition: color 0.3s;
    }

    .inputBox {
        flex: 1;
    }

    &:has(input:focus) .icon {
        color: $context;
    }
}